function Enemigo.new 0
    push constant 15
    call Memory.alloc 1
    pop pointer 0
    push argument 0
    pop this 0
    push argument 1
    pop this 1
    push argument 2
    pop this 2
    push constant 1
    pop this 3
    push constant 0
    pop this 4
    push constant 0
    pop this 5
    push constant 0
    pop this 6
    push argument 0
    pop this 9
    push argument 1
    pop this 10
    push argument 0
    pop this 11
    push argument 1
    pop this 12
    push argument 3
    pop this 13
    push argument 4
    pop this 14
    push pointer 0
    return
function Enemigo.getPosX 0
    push argument 0
    pop pointer 0
    push this 0
    return
function Enemigo.getPosY 0
    push argument 0
    pop pointer 0
    push this 1
    return
function Enemigo.actualizarTarget 10
    push argument 0
    pop pointer 0
    push argument 1
    call Jugador.obtenerPosX 1
    pop local 0
    push argument 1
    call Jugador.obtenerPosY 1
    pop local 1
    push local 0
    push this 0
    sub
    pop local 7
    push local 7
    push constant 0
    lt
    not
    if-goto Enemigo_1
    push constant 0
    push local 7
    sub
    pop local 7
    goto Enemigo_0
label Enemigo_1
label Enemigo_0
    push local 1
    push this 1
    sub
    pop local 8
    push local 8
    push constant 0
    lt
    not
    if-goto Enemigo_3
    push constant 0
    push local 8
    sub
    pop local 8
    goto Enemigo_2
label Enemigo_3
label Enemigo_2
    push local 7
    push local 8
    add
    pop local 9
    push local 9
    push constant 4
    gt
    not
    if-goto Enemigo_5
    push constant 2
    pop local 6
    goto Enemigo_4
label Enemigo_5
    push constant 0
    pop local 6
label Enemigo_4
    push this 9
    push constant 0
    eq
    push this 10
    push constant 0
    eq
    and
    not
    if-goto Enemigo_7
    push local 0
    pop this 9
    push local 1
    pop this 10
    goto Enemigo_6
label Enemigo_7
label Enemigo_6
    push local 0
    push this 9
    sub
    pop local 2
    push local 1
    push this 10
    sub
    pop local 3
    push local 2
    push constant 0
    gt
    not
    if-goto Enemigo_9
    push constant 1
    pop local 4
    goto Enemigo_8
label Enemigo_9
    push local 2
    push constant 0
    lt
    not
    if-goto Enemigo_11
    push constant 1
    neg
    pop local 4
    goto Enemigo_10
label Enemigo_11
    push constant 0
    pop local 4
label Enemigo_10
label Enemigo_8
    push local 0
    push local 4
    push local 6
    call Math.multiply 2
    add
    pop this 7
    push local 3
    push constant 0
    gt
    not
    if-goto Enemigo_13
    push constant 1
    pop local 5
    goto Enemigo_12
label Enemigo_13
    push local 3
    push constant 0
    lt
    not
    if-goto Enemigo_15
    push constant 1
    neg
    pop local 5
    goto Enemigo_14
label Enemigo_15
    push constant 0
    pop local 5
label Enemigo_14
label Enemigo_12
    push local 1
    push local 5
    push local 6
    call Math.multiply 2
    add
    pop this 8
    push this 7
    push constant 1
    lt
    not
    if-goto Enemigo_17
    push constant 1
    pop this 7
    goto Enemigo_16
label Enemigo_17
label Enemigo_16
    push this 7
    push constant 30
    gt
    not
    if-goto Enemigo_19
    push constant 30
    pop this 7
    goto Enemigo_18
label Enemigo_19
label Enemigo_18
    push this 8
    push constant 1
    lt
    not
    if-goto Enemigo_21
    push constant 1
    pop this 8
    goto Enemigo_20
label Enemigo_21
label Enemigo_20
    push this 8
    push constant 14
    gt
    not
    if-goto Enemigo_23
    push constant 14
    pop this 8
    goto Enemigo_22
label Enemigo_23
label Enemigo_22
    push local 0
    pop this 9
    push local 1
    pop this 10
    push constant 0
    return
function Enemigo.esMovimientoSeguro 0
    push argument 0
    pop pointer 0
    push argument 3
    push argument 1
    push argument 2
    call Mapa.esPared 3
    push constant 1
    eq
    not
    if-goto Enemigo_25
    push constant 1
    return
    goto Enemigo_24
label Enemigo_25
label Enemigo_24
    push argument 2
    push this 11
    eq
    push argument 1
    push this 12
    eq
    and
    not
    if-goto Enemigo_27
    push constant 1
    return
    goto Enemigo_26
label Enemigo_27
label Enemigo_26
    push constant 0
    return
function Enemigo.darPaso 0
    push argument 0
    pop pointer 0
    push this 0
    pop this 11
    push this 1
    pop this 12
    push argument 1
    pop this 0
    push argument 2
    pop this 1
    push constant 0
    return
function Enemigo.calcularDistancia 2
    push argument 0
    pop pointer 0
    push argument 1
    push argument 3
    sub
    pop local 0
    push local 0
    push constant 0
    lt
    not
    if-goto Enemigo_29
    push constant 0
    push local 0
    sub
    pop local 0
    goto Enemigo_28
label Enemigo_29
label Enemigo_28
    push argument 2
    push argument 4
    sub
    pop local 1
    push local 1
    push constant 0
    lt
    not
    if-goto Enemigo_31
    push constant 0
    push local 1
    sub
    pop local 1
    goto Enemigo_30
label Enemigo_31
label Enemigo_30
    push local 0
    push local 1
    add
    return
function Enemigo.moverHaciaJugador 7
    push argument 0
    pop pointer 0
    push pointer 0
    push argument 1
    call Enemigo.actualizarTarget 2
    pop temp 0
    push this 0
    pop local 0
    push this 1
    pop local 1
    push constant 32000
    pop local 2
    push constant 0
    pop local 4
    push this 0
    push constant 1
    add
    pop local 5
    push this 1
    pop local 6
    push pointer 0
    push local 6
    push local 5
    push argument 2
    call Enemigo.esMovimientoSeguro 4
    push constant 0
    eq
    not
    if-goto Enemigo_33
    push pointer 0
    push local 5
    push local 6
    push this 7
    push this 8
    call Enemigo.calcularDistancia 5
    pop local 3
    push local 3
    push local 2
    lt
    not
    if-goto Enemigo_35
    push local 3
    pop local 2
    push local 5
    pop local 0
    push local 6
    pop local 1
    push constant 1
    neg
    pop local 4
    goto Enemigo_34
label Enemigo_35
label Enemigo_34
    goto Enemigo_32
label Enemigo_33
label Enemigo_32
    push this 0
    push constant 1
    sub
    pop local 5
    push this 1
    pop local 6
    push pointer 0
    push local 6
    push local 5
    push argument 2
    call Enemigo.esMovimientoSeguro 4
    push constant 0
    eq
    not
    if-goto Enemigo_37
    push pointer 0
    push local 5
    push local 6
    push this 7
    push this 8
    call Enemigo.calcularDistancia 5
    pop local 3
    push local 3
    push local 2
    lt
    not
    if-goto Enemigo_39
    push local 3
    pop local 2
    push local 5
    pop local 0
    push local 6
    pop local 1
    push constant 1
    neg
    pop local 4
    goto Enemigo_38
label Enemigo_39
label Enemigo_38
    goto Enemigo_36
label Enemigo_37
label Enemigo_36
    push this 0
    pop local 5
    push this 1
    push constant 1
    add
    pop local 6
    push pointer 0
    push local 6
    push local 5
    push argument 2
    call Enemigo.esMovimientoSeguro 4
    push constant 0
    eq
    not
    if-goto Enemigo_41
    push pointer 0
    push local 5
    push local 6
    push this 7
    push this 8
    call Enemigo.calcularDistancia 5
    pop local 3
    push local 3
    push local 2
    lt
    not
    if-goto Enemigo_43
    push local 3
    pop local 2
    push local 5
    pop local 0
    push local 6
    pop local 1
    push constant 1
    neg
    pop local 4
    goto Enemigo_42
label Enemigo_43
label Enemigo_42
    goto Enemigo_40
label Enemigo_41
label Enemigo_40
    push this 0
    pop local 5
    push this 1
    push constant 1
    sub
    pop local 6
    push pointer 0
    push local 6
    push local 5
    push argument 2
    call Enemigo.esMovimientoSeguro 4
    push constant 0
    eq
    not
    if-goto Enemigo_45
    push pointer 0
    push local 5
    push local 6
    push this 7
    push this 8
    call Enemigo.calcularDistancia 5
    pop local 3
    push local 3
    push local 2
    lt
    not
    if-goto Enemigo_47
    push local 3
    pop local 2
    push local 5
    pop local 0
    push local 6
    pop local 1
    push constant 1
    neg
    pop local 4
    goto Enemigo_46
label Enemigo_47
label Enemigo_46
    goto Enemigo_44
label Enemigo_45
label Enemigo_44
    push local 4
    not
    not
    if-goto Enemigo_49
    push constant 0
    pop this 11
    push constant 0
    pop this 12
    goto Enemigo_48
label Enemigo_49
    push pointer 0
    push local 0
    push local 1
    call Enemigo.darPaso 3
    pop temp 0
label Enemigo_48
    push constant 0
    return
function Enemigo.dibujar 2
    push argument 0
    pop pointer 0
    push this 0
    push constant 32
    call Math.multiply 2
    pop local 0
    push this 1
    push constant 32
    call Math.multiply 2
    pop local 1
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push this 13
    push constant 0
    eq
    not
    if-goto Enemigo_51
    push this 14
    push constant 1
    eq
    not
    if-goto Enemigo_53
    push local 0
    push constant 4
    add
    push local 1
    push constant 4
    add
    push local 0
    push constant 28
    add
    push local 1
    push constant 28
    add
    call Screen.drawRectangle 4
    pop temp 0
    goto Enemigo_52
label Enemigo_53
    push local 0
    push constant 8
    add
    push local 1
    push constant 8
    add
    push local 0
    push constant 24
    add
    push local 1
    push constant 24
    add
    call Screen.drawRectangle 4
    pop temp 0
label Enemigo_52
    goto Enemigo_50
label Enemigo_51
label Enemigo_50
    push this 13
    push constant 1
    eq
    not
    if-goto Enemigo_55
    push local 0
    push constant 16
    add
    push local 1
    push constant 28
    add
    push local 0
    push constant 4
    add
    push local 1
    push constant 6
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push constant 16
    add
    push local 1
    push constant 28
    add
    push local 0
    push constant 28
    add
    push local 1
    push constant 6
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push constant 4
    add
    push local 1
    push constant 6
    add
    push local 0
    push constant 28
    add
    push local 1
    push constant 6
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push constant 16
    add
    push local 1
    push constant 26
    add
    push local 0
    push constant 6
    add
    push local 1
    push constant 8
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push constant 16
    add
    push local 1
    push constant 26
    add
    push local 0
    push constant 26
    add
    push local 1
    push constant 8
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push constant 16
    add
    push local 1
    push constant 24
    add
    push local 0
    push constant 8
    add
    push local 1
    push constant 10
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push constant 16
    add
    push local 1
    push constant 24
    add
    push local 0
    push constant 24
    add
    push local 1
    push constant 10
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push constant 16
    add
    push local 1
    push constant 22
    add
    push local 0
    push constant 10
    add
    push local 1
    push constant 12
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push constant 16
    add
    push local 1
    push constant 22
    add
    push local 0
    push constant 22
    add
    push local 1
    push constant 12
    add
    call Screen.drawLine 4
    pop temp 0
    goto Enemigo_54
label Enemigo_55
label Enemigo_54
    push this 13
    push constant 2
    eq
    not
    if-goto Enemigo_57
    push local 0
    push constant 16
    add
    push local 1
    push constant 22
    add
    push constant 8
    call Screen.drawCircle 3
    pop temp 0
    push local 0
    push constant 10
    add
    push local 1
    push constant 16
    add
    push local 0
    push constant 16
    add
    push local 1
    push constant 4
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push constant 22
    add
    push local 1
    push constant 16
    add
    push local 0
    push constant 16
    add
    push local 1
    push constant 4
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push constant 10
    add
    push local 1
    push constant 16
    add
    push local 0
    push constant 22
    add
    push local 1
    push constant 16
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push constant 8
    add
    push local 1
    push constant 20
    add
    push local 0
    push constant 12
    add
    push local 1
    push constant 10
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push constant 24
    add
    push local 1
    push constant 20
    add
    push local 0
    push constant 20
    add
    push local 1
    push constant 10
    add
    call Screen.drawLine 4
    pop temp 0
    goto Enemigo_56
label Enemigo_57
label Enemigo_56
    push this 13
    push constant 3
    eq
    not
    if-goto Enemigo_59
    push local 0
    push constant 14
    add
    push local 1
    push constant 14
    add
    push local 0
    push constant 18
    add
    push local 1
    push constant 28
    add
    call Screen.drawRectangle 4
    pop temp 0
    push local 0
    push constant 16
    add
    push local 1
    push constant 4
    add
    push local 0
    push constant 12
    add
    push local 1
    push constant 14
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push constant 16
    add
    push local 1
    push constant 4
    add
    push local 0
    push constant 20
    add
    push local 1
    push constant 14
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push constant 6
    add
    push local 1
    push constant 6
    add
    push local 0
    push constant 8
    add
    push local 1
    push constant 16
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push constant 6
    add
    push local 1
    push constant 6
    add
    push local 0
    push constant 12
    add
    push local 1
    push constant 12
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push constant 8
    add
    push local 1
    push constant 14
    add
    push local 0
    push constant 12
    add
    push local 1
    push constant 18
    add
    call Screen.drawRectangle 4
    pop temp 0
    push local 0
    push constant 26
    add
    push local 1
    push constant 6
    add
    push local 0
    push constant 24
    add
    push local 1
    push constant 16
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push constant 26
    add
    push local 1
    push constant 6
    add
    push local 0
    push constant 20
    add
    push local 1
    push constant 12
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push constant 20
    add
    push local 1
    push constant 14
    add
    push local 0
    push constant 24
    add
    push local 1
    push constant 18
    add
    call Screen.drawRectangle 4
    pop temp 0
    goto Enemigo_58
label Enemigo_59
label Enemigo_58
    push constant 0
    return
function Enemigo.borrar 2
    push argument 0
    pop pointer 0
    push this 0
    push constant 32
    call Math.multiply 2
    pop local 0
    push this 1
    push constant 32
    call Math.multiply 2
    pop local 1
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push local 0
    push constant 2
    add
    push local 1
    push constant 2
    add
    push local 0
    push constant 30
    add
    push local 1
    push constant 30
    add
    call Screen.drawRectangle 4
    pop temp 0
    push constant 0
    return
function Enemigo.aparecerRandom 3
    push argument 0
    pop pointer 0
    push constant 0
    pop local 2
label Enemigo_60
    push local 2
    not
    not
    if-goto Enemigo_61
    push constant 12
    call Random.randInt 1
    push constant 3
    add
    pop local 0
    push constant 4
    call Random.randInt 1
    push constant 3
    add
    pop local 1
    push argument 1
    push local 1
    push local 0
    call Mapa.esPared 3
    push constant 0
    eq
    not
    if-goto Enemigo_63
    push local 0
    pop this 0
    push local 1
    pop this 1
    push local 0
    pop this 11
    push local 1
    pop this 12
    push constant 1
    neg
    pop local 2
    goto Enemigo_62
label Enemigo_63
label Enemigo_62
    goto Enemigo_60
label Enemigo_61
    push constant 0
    return
function Enemigo.dispose 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return