function Juego.new 0
    push constant 6
    call Memory.alloc 1
    pop pointer 0
    push constant 0
    pop this 0
    push pointer 0
    return
function Juego.ejecutar 10
    push argument 0
    pop pointer 0
    push constant 1
    neg
    pop local 0
label Juego_0
    push local 0
    not
    if-goto Juego_1
    push this 0
    call Validador.limitePartidas 1
    not
    if-goto Juego_3
    push pointer 0
    call Juego.pantallaLimitePartidas 1
    pop temp 0
    push constant 0
    return
    goto Juego_2
label Juego_3
label Juego_2
    push pointer 0
    call Juego.pantallaInicio 1
    pop temp 0
    push this 1
    push constant 5
    eq
    not
    if-goto Juego_5
    push pointer 0
    call Juego.pantallaDespedida 1
    pop temp 0
    push constant 0
    return
    goto Juego_4
label Juego_5
label Juego_4
    push pointer 0
    call Juego.pantallaPresionaEnter 1
    pop local 1
    push local 1
    call Random.setSemilla 1
    pop temp 0
    call Screen.clearScreen 0
    pop temp 0
    call Mapa.new 0
    pop local 2
    push constant 0
    push constant 0
    call Output.moveCursor 2
    pop temp 0
    push constant 6
    call String.new 1
    push constant 73
    call String.appendChar 2
    push constant 78
    call String.appendChar 2
    push constant 73
    call String.appendChar 2
    push constant 67
    call String.appendChar 2
    push constant 73
    call String.appendChar 2
    push constant 79
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 22
    push constant 53
    call Output.moveCursor 2
    pop temp 0
    push constant 4
    call String.new 1
    push constant 77
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 84
    call String.appendChar 2
    push constant 65
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 1
    push constant 1
    push this 3
    push this 5
    call Jugador.new 4
    pop local 3
    push local 3
    call Jugador.dibujar 1
    pop temp 0
    push constant 0
    push constant 0
    push constant 1
    push this 4
    push this 5
    call Enemigo.new 5
    pop local 4
    push local 4
    push local 2
    call Enemigo.aparecerRandom 2
    pop temp 0
    push local 4
    call Enemigo.dibujar 1
    pop temp 0
    push constant 0
    pop local 9
    push constant 0
    pop local 5
    push constant 0
    pop local 6
label Juego_6
    push local 5
    not
    not
    if-goto Juego_7
    call Keyboard.keyPressed 0
    pop local 7
    push local 7
    call Teclado.leerDireccion 1
    pop local 8
    push local 8
    push constant 0
    gt
    not
    if-goto Juego_9
    push local 3
    call Jugador.borrar 1
    pop temp 0
    push local 3
    push local 8
    push local 2
    call Jugador.mover 3
    pop temp 0
    push local 3
    call Jugador.dibujar 1
    pop temp 0
    goto Juego_8
label Juego_9
label Juego_8
    push local 9
    push constant 1
    add
    pop local 9
    push local 9
    push this 2
    gt
    not
    if-goto Juego_11
    push constant 0
    pop local 9
    push local 4
    call Enemigo.borrar 1
    pop temp 0
    push local 4
    push local 3
    push local 2
    call Enemigo.moverHaciaJugador 3
    pop temp 0
    push local 4
    call Enemigo.dibujar 1
    pop temp 0
    goto Juego_10
label Juego_11
label Juego_10
    push local 3
    push local 4
    call Validador.verificarColision 2
    not
    if-goto Juego_13
    push constant 1
    neg
    pop local 5
    goto Juego_12
label Juego_13
label Juego_12
    push local 3
    call Validador.verificarVictoria 1
    not
    if-goto Juego_15
    push constant 1
    neg
    pop local 5
    push constant 1
    neg
    pop local 6
    goto Juego_14
label Juego_15
label Juego_14
    push constant 50
    call Sys.wait 1
    pop temp 0
    goto Juego_6
label Juego_7
    push pointer 0
    push local 6
    call Juego.pantallaFin 2
    pop temp 0
    push local 3
    call Jugador.dispose 1
    pop temp 0
    push local 4
    call Enemigo.dispose 1
    pop temp 0
    push local 2
    call Mapa.dispose 1
    pop temp 0
    push this 0
    push constant 1
    add
    pop this 0
    goto Juego_0
label Juego_1
    push constant 0
    return
function Juego.pantallaLimitePartidas 0
    push argument 0
    pop pointer 0
    call Screen.clearScreen 0
    pop temp 0
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push constant 50
    push constant 40
    push constant 462
    push constant 48
    call Screen.drawRectangle 4
    pop temp 0
    push constant 50
    push constant 200
    push constant 462
    push constant 208
    call Screen.drawRectangle 4
    pop temp 0
    push constant 50
    push constant 40
    push constant 58
    push constant 208
    call Screen.drawRectangle 4
    pop temp 0
    push constant 454
    push constant 40
    push constant 462
    push constant 208
    call Screen.drawRectangle 4
    pop temp 0
    push constant 60
    push constant 50
    push constant 452
    push constant 56
    call Screen.drawRectangle 4
    pop temp 0
    push constant 60
    push constant 190
    push constant 452
    push constant 196
    call Screen.drawRectangle 4
    pop temp 0
    push constant 60
    push constant 50
    push constant 66
    push constant 196
    call Screen.drawRectangle 4
    pop temp 0
    push constant 446
    push constant 50
    push constant 452
    push constant 196
    call Screen.drawRectangle 4
    pop temp 0
    push constant 5
    push constant 12
    call Output.moveCursor 2
    pop temp 0
    push constant 32
    call String.new 1
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 6
    push constant 12
    call Output.moveCursor 2
    pop temp 0
    push constant 24
    call String.new 1
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 82
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 67
    call String.appendChar 2
    push constant 65
    call String.appendChar 2
    push constant 82
    call String.appendChar 2
    push constant 71
    call String.appendChar 2
    push constant 65
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 76
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 74
    call String.appendChar 2
    push constant 85
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 71
    call String.appendChar 2
    push constant 79
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 80
    call String.appendChar 2
    push constant 65
    call String.appendChar 2
    push constant 82
    call String.appendChar 2
    push constant 65
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 7
    push constant 12
    call Output.moveCursor 2
    pop temp 0
    push constant 20
    call String.new 1
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 67
    call String.appendChar 2
    push constant 79
    call String.appendChar 2
    push constant 77
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 78
    call String.appendChar 2
    push constant 90
    call String.appendChar 2
    push constant 65
    call String.appendChar 2
    push constant 82
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 79
    call String.appendChar 2
    push constant 84
    call String.appendChar 2
    push constant 82
    call String.appendChar 2
    push constant 65
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 86
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 90
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 8
    push constant 12
    call Output.moveCursor 2
    pop temp 0
    push constant 32
    call String.new 1
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 11
    push constant 10
    call Output.moveCursor 2
    pop temp 0
    push constant 36
    call String.new 1
    push constant 72
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 106
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 118
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 112
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 46
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 13
    push constant 10
    call Output.moveCursor 2
    pop temp 0
    push constant 36
    call String.new 1
    push constant 80
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 112
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 44
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 14
    push constant 10
    call Output.moveCursor 2
    pop temp 0
    push constant 30
    call String.new 1
    push constant 112
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 102
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 118
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 82
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 67
    call String.appendChar 2
    push constant 65
    call String.appendChar 2
    push constant 82
    call String.appendChar 2
    push constant 71
    call String.appendChar 2
    push constant 65
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 112
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 46
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 17
    push constant 12
    call Output.moveCursor 2
    pop temp 0
    push constant 30
    call String.new 1
    push constant 71
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 99
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 112
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 106
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 77
    call String.appendChar 2
    push constant 65
    call String.appendChar 2
    push constant 90
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 82
    call String.appendChar 2
    push constant 85
    call String.appendChar 2
    push constant 78
    call String.appendChar 2
    push constant 78
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 82
    call String.appendChar 2
    push constant 33
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 18
    push constant 14
    call Output.moveCursor 2
    pop temp 0
    push constant 31
    call String.new 1
    push constant 65
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 58
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 73
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 79
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 76
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 67
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 74
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 77
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 0
    return
function Juego.pantallaInicio 0
    push argument 0
    pop pointer 0
    call Screen.clearScreen 0
    pop temp 0
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push constant 50
    push constant 25
    push constant 462
    push constant 30
    call Screen.drawRectangle 4
    pop temp 0
    push constant 50
    push constant 230
    push constant 462
    push constant 235
    call Screen.drawRectangle 4
    pop temp 0
    push constant 50
    push constant 25
    push constant 55
    push constant 235
    call Screen.drawRectangle 4
    pop temp 0
    push constant 457
    push constant 25
    push constant 462
    push constant 235
    call Screen.drawRectangle 4
    pop temp 0
    push constant 60
    push constant 35
    push constant 452
    push constant 40
    call Screen.drawRectangle 4
    pop temp 0
    push constant 60
    push constant 220
    push constant 452
    push constant 225
    call Screen.drawRectangle 4
    pop temp 0
    push constant 60
    push constant 35
    push constant 65
    push constant 225
    call Screen.drawRectangle 4
    pop temp 0
    push constant 447
    push constant 35
    push constant 452
    push constant 225
    call Screen.drawRectangle 4
    pop temp 0
    push constant 3
    push constant 20
    call Output.moveCursor 2
    pop temp 0
    push constant 22
    call String.new 1
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 4
    push constant 20
    call Output.moveCursor 2
    pop temp 0
    push constant 22
    call String.new 1
    push constant 42
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 77
    call String.appendChar 2
    push constant 65
    call String.appendChar 2
    push constant 90
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 82
    call String.appendChar 2
    push constant 85
    call String.appendChar 2
    push constant 78
    call String.appendChar 2
    push constant 78
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 82
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 5
    push constant 20
    call Output.moveCursor 2
    pop temp 0
    push constant 22
    call String.new 1
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 7
    push constant 22
    call Output.moveCursor 2
    pop temp 0
    push constant 14
    call String.new 1
    push constant 49
    call String.appendChar 2
    push constant 46
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 77
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 66
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 99
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 9
    push constant 22
    call Output.moveCursor 2
    pop temp 0
    push constant 20
    call String.new 1
    push constant 50
    call String.appendChar 2
    push constant 46
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 77
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 83
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 112
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 82
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 112
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 11
    push constant 22
    call Output.moveCursor 2
    pop temp 0
    push constant 28
    call String.new 1
    push constant 51
    call String.appendChar 2
    push constant 46
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 67
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 98
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 70
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 74
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 13
    push constant 22
    call Output.moveCursor 2
    pop temp 0
    push constant 28
    call String.new 1
    push constant 52
    call String.appendChar 2
    push constant 46
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 67
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 98
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 70
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 15
    push constant 22
    call Output.moveCursor 2
    pop temp 0
    push constant 18
    call String.new 1
    push constant 53
    call String.appendChar 2
    push constant 46
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 83
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 74
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 17
    push constant 16
    call Output.moveCursor 2
    pop temp 0
    push constant 35
    call String.new 1
    push constant 80
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 44
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 50
    call String.appendChar 2
    push constant 44
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 51
    call String.appendChar 2
    push constant 44
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 52
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 53
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 112
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 20
    push constant 20
    call Output.moveCursor 2
    pop temp 0
    push constant 31
    call String.new 1
    push constant 65
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 58
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 73
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 79
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 76
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 67
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 74
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 77
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 0
    pop this 1
    push constant 5
    pop this 2
    push constant 0
    pop this 3
    push constant 0
    pop this 4
    push constant 1
    pop this 5
label Juego_16
    push this 1
    push constant 0
    eq
    not
    if-goto Juego_17
    call Keyboard.keyPressed 0
    call Teclado.leerOpcion 1
    pop this 1
    goto Juego_16
label Juego_17
    call Teclado.esperarTecla 0
    pop temp 0
    push this 1
    push constant 1
    eq
    not
    if-goto Juego_19
    push constant 0
    pop this 3
    push constant 0
    pop this 4
    push constant 3
    pop this 2
    push constant 1
    pop this 5
    goto Juego_18
label Juego_19
label Juego_18
    push this 1
    push constant 2
    eq
    not
    if-goto Juego_21
    push constant 2
    pop this 2
    push constant 0
    pop this 3
    push constant 0
    pop this 4
    push constant 2
    pop this 5
    goto Juego_20
label Juego_21
label Juego_20
    push this 1
    push constant 3
    eq
    not
    if-goto Juego_23
    push constant 3
    pop this 2
    call Screen.clearScreen 0
    pop temp 0
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push constant 100
    push constant 50
    push constant 412
    push constant 55
    call Screen.drawRectangle 4
    pop temp 0
    push constant 100
    push constant 180
    push constant 412
    push constant 185
    call Screen.drawRectangle 4
    pop temp 0
    push constant 100
    push constant 50
    push constant 105
    push constant 185
    call Screen.drawRectangle 4
    pop temp 0
    push constant 407
    push constant 50
    push constant 412
    push constant 185
    call Screen.drawRectangle 4
    pop temp 0
    push constant 5
    push constant 18
    call Output.moveCursor 2
    pop temp 0
    push constant 26
    call String.new 1
    push constant 69
    call String.appendChar 2
    push constant 76
    call String.appendChar 2
    push constant 73
    call String.appendChar 2
    push constant 71
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 84
    call String.appendChar 2
    push constant 85
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 70
    call String.appendChar 2
    push constant 79
    call String.appendChar 2
    push constant 82
    call String.appendChar 2
    push constant 77
    call String.appendChar 2
    push constant 65
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 68
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 74
    call String.appendChar 2
    push constant 85
    call String.appendChar 2
    push constant 71
    call String.appendChar 2
    push constant 65
    call String.appendChar 2
    push constant 68
    call String.appendChar 2
    push constant 79
    call String.appendChar 2
    push constant 82
    call String.appendChar 2
    push constant 58
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 9
    push constant 24
    call Output.moveCursor 2
    pop temp 0
    push constant 9
    call String.new 1
    push constant 49
    call String.appendChar 2
    push constant 46
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 70
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 99
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 11
    push constant 24
    call Output.moveCursor 2
    pop temp 0
    push constant 10
    call String.new 1
    push constant 50
    call String.appendChar 2
    push constant 46
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 67
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 122
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 13
    push constant 24
    call Output.moveCursor 2
    pop temp 0
    push constant 18
    call String.new 1
    push constant 51
    call String.appendChar 2
    push constant 46
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 77
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 99
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 80
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 0
    pop this 3
label Juego_24
    push this 3
    push constant 0
    eq
    not
    if-goto Juego_25
    call Keyboard.keyPressed 0
    call Teclado.leerOpcionForma 1
    pop this 3
    goto Juego_24
label Juego_25
    call Teclado.esperarTecla 0
    pop temp 0
    goto Juego_22
label Juego_23
label Juego_22
    push this 1
    push constant 4
    eq
    not
    if-goto Juego_27
    push constant 3
    pop this 2
    call Screen.clearScreen 0
    pop temp 0
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push constant 100
    push constant 50
    push constant 412
    push constant 55
    call Screen.drawRectangle 4
    pop temp 0
    push constant 100
    push constant 180
    push constant 412
    push constant 185
    call Screen.drawRectangle 4
    pop temp 0
    push constant 100
    push constant 50
    push constant 105
    push constant 185
    call Screen.drawRectangle 4
    pop temp 0
    push constant 407
    push constant 50
    push constant 412
    push constant 185
    call Screen.drawRectangle 4
    pop temp 0
    push constant 5
    push constant 18
    call Output.moveCursor 2
    pop temp 0
    push constant 27
    call String.new 1
    push constant 69
    call String.appendChar 2
    push constant 76
    call String.appendChar 2
    push constant 73
    call String.appendChar 2
    push constant 71
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 76
    call String.appendChar 2
    push constant 65
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 70
    call String.appendChar 2
    push constant 79
    call String.appendChar 2
    push constant 82
    call String.appendChar 2
    push constant 77
    call String.appendChar 2
    push constant 65
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 68
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 76
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 78
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 77
    call String.appendChar 2
    push constant 73
    call String.appendChar 2
    push constant 71
    call String.appendChar 2
    push constant 79
    call String.appendChar 2
    push constant 58
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 9
    push constant 24
    call Output.moveCursor 2
    pop temp 0
    push constant 12
    call String.new 1
    push constant 49
    call String.appendChar 2
    push constant 46
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 84
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 11
    push constant 24
    call Output.moveCursor 2
    pop temp 0
    push constant 8
    call String.new 1
    push constant 50
    call String.appendChar 2
    push constant 46
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 70
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 13
    push constant 24
    call Output.moveCursor 2
    pop temp 0
    push constant 19
    call String.new 1
    push constant 51
    call String.appendChar 2
    push constant 46
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 84
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 77
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 0
    pop this 4
label Juego_28
    push this 4
    push constant 0
    eq
    not
    if-goto Juego_29
    call Keyboard.keyPressed 0
    call Teclado.leerOpcionForma 1
    pop this 4
    goto Juego_28
label Juego_29
    call Teclado.esperarTecla 0
    pop temp 0
    goto Juego_26
label Juego_27
label Juego_26
    push constant 0
    return
function Juego.pantallaDespedida 0
    push argument 0
    pop pointer 0
    call Screen.clearScreen 0
    pop temp 0
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push constant 100
    push constant 80
    push constant 412
    push constant 85
    call Screen.drawRectangle 4
    pop temp 0
    push constant 100
    push constant 160
    push constant 412
    push constant 165
    call Screen.drawRectangle 4
    pop temp 0
    push constant 100
    push constant 80
    push constant 105
    push constant 165
    call Screen.drawRectangle 4
    pop temp 0
    push constant 407
    push constant 80
    push constant 412
    push constant 165
    call Screen.drawRectangle 4
    pop temp 0
    push constant 8
    push constant 18
    call Output.moveCursor 2
    pop temp 0
    push constant 18
    call String.new 1
    push constant 71
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 99
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 112
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 106
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 33
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 10
    push constant 20
    call Output.moveCursor 2
    pop temp 0
    push constant 11
    call String.new 1
    push constant 77
    call String.appendChar 2
    push constant 65
    call String.appendChar 2
    push constant 90
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 82
    call String.appendChar 2
    push constant 85
    call String.appendChar 2
    push constant 78
    call String.appendChar 2
    push constant 78
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 82
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 12
    push constant 14
    call Output.moveCursor 2
    pop temp 0
    push constant 31
    call String.new 1
    push constant 65
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 58
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 73
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 79
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 76
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 67
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 74
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 77
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 0
    return
function Juego.pantallaPresionaEnter 0
    push argument 0
    pop pointer 0
    call Screen.clearScreen 0
    pop temp 0
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push constant 80
    push constant 70
    push constant 432
    push constant 75
    call Screen.drawRectangle 4
    pop temp 0
    push constant 80
    push constant 170
    push constant 432
    push constant 175
    call Screen.drawRectangle 4
    pop temp 0
    push constant 80
    push constant 70
    push constant 85
    push constant 175
    call Screen.drawRectangle 4
    pop temp 0
    push constant 427
    push constant 70
    push constant 432
    push constant 175
    call Screen.drawRectangle 4
    pop temp 0
    push constant 6
    push constant 23
    call Output.moveCursor 2
    pop temp 0
    push constant 11
    call String.new 1
    push constant 77
    call String.appendChar 2
    push constant 65
    call String.appendChar 2
    push constant 90
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 82
    call String.appendChar 2
    push constant 85
    call String.appendChar 2
    push constant 78
    call String.appendChar 2
    push constant 78
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 82
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 10
    push constant 13
    call Output.moveCursor 2
    pop temp 0
    push constant 27
    call String.new 1
    push constant 80
    call String.appendChar 2
    push constant 82
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 83
    call String.appendChar 2
    push constant 73
    call String.appendChar 2
    push constant 79
    call String.appendChar 2
    push constant 78
    call String.appendChar 2
    push constant 65
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 78
    call String.appendChar 2
    push constant 84
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 82
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 80
    call String.appendChar 2
    push constant 65
    call String.appendChar 2
    push constant 82
    call String.appendChar 2
    push constant 65
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 77
    call String.appendChar 2
    push constant 80
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 90
    call String.appendChar 2
    push constant 65
    call String.appendChar 2
    push constant 82
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    call Teclado.obtenerSemillaConEnter 0
    return
function Juego.pantallaFin 0
    push argument 0
    pop pointer 0
    call Screen.clearScreen 0
    pop temp 0
    push argument 1
    not
    if-goto Juego_31
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push constant 40
    push constant 20
    push constant 472
    push constant 28
    call Screen.drawRectangle 4
    pop temp 0
    push constant 40
    push constant 230
    push constant 472
    push constant 238
    call Screen.drawRectangle 4
    pop temp 0
    push constant 40
    push constant 20
    push constant 48
    push constant 238
    call Screen.drawRectangle 4
    pop temp 0
    push constant 464
    push constant 20
    push constant 472
    push constant 238
    call Screen.drawRectangle 4
    pop temp 0
    push constant 80
    push constant 60
    push constant 15
    call Screen.drawCircle 3
    pop temp 0
    push constant 80
    push constant 75
    push constant 80
    push constant 100
    call Screen.drawLine 4
    pop temp 0
    push constant 100
    push constant 80
    push constant 12
    call Screen.drawCircle 3
    pop temp 0
    push constant 100
    push constant 92
    push constant 100
    push constant 115
    call Screen.drawLine 4
    pop temp 0
    push constant 65
    push constant 90
    push constant 10
    call Screen.drawCircle 3
    pop temp 0
    push constant 65
    push constant 100
    push constant 65
    push constant 120
    call Screen.drawLine 4
    pop temp 0
    push constant 430
    push constant 60
    push constant 15
    call Screen.drawCircle 3
    pop temp 0
    push constant 430
    push constant 75
    push constant 430
    push constant 100
    call Screen.drawLine 4
    pop temp 0
    push constant 410
    push constant 80
    push constant 12
    call Screen.drawCircle 3
    pop temp 0
    push constant 410
    push constant 92
    push constant 410
    push constant 115
    call Screen.drawLine 4
    pop temp 0
    push constant 445
    push constant 90
    push constant 10
    call Screen.drawCircle 3
    pop temp 0
    push constant 445
    push constant 100
    push constant 445
    push constant 120
    call Screen.drawLine 4
    pop temp 0
    push constant 240
    push constant 85
    push constant 272
    push constant 95
    call Screen.drawRectangle 4
    pop temp 0
    push constant 248
    push constant 95
    push constant 264
    push constant 115
    call Screen.drawRectangle 4
    pop temp 0
    push constant 235
    push constant 115
    push constant 277
    push constant 125
    call Screen.drawRectangle 4
    pop temp 0
    push constant 256
    push constant 75
    push constant 12
    call Screen.drawCircle 3
    pop temp 0
    push constant 8
    push constant 17
    call Output.moveCursor 2
    pop temp 0
    push constant 25
    call String.new 1
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 9
    push constant 17
    call Output.moveCursor 2
    pop temp 0
    push constant 25
    call String.new 1
    push constant 42
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 70
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 76
    call String.appendChar 2
    push constant 73
    call String.appendChar 2
    push constant 67
    call String.appendChar 2
    push constant 73
    call String.appendChar 2
    push constant 68
    call String.appendChar 2
    push constant 65
    call String.appendChar 2
    push constant 68
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 83
    call String.appendChar 2
    push constant 33
    call String.appendChar 2
    push constant 33
    call String.appendChar 2
    push constant 33
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 10
    push constant 17
    call Output.moveCursor 2
    pop temp 0
    push constant 25
    call String.new 1
    push constant 42
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 71
    call String.appendChar 2
    push constant 65
    call String.appendChar 2
    push constant 78
    call String.appendChar 2
    push constant 65
    call String.appendChar 2
    push constant 83
    call String.appendChar 2
    push constant 84
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 76
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 74
    call String.appendChar 2
    push constant 85
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 71
    call String.appendChar 2
    push constant 79
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 11
    push constant 17
    call Output.moveCursor 2
    pop temp 0
    push constant 25
    call String.new 1
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 14
    push constant 20
    call Output.moveCursor 2
    pop temp 0
    push constant 26
    call String.new 1
    push constant 69
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 118
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 99
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 112
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 33
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    goto Juego_30
label Juego_31
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push constant 50
    push constant 30
    push constant 462
    push constant 38
    call Screen.drawRectangle 4
    pop temp 0
    push constant 50
    push constant 220
    push constant 462
    push constant 228
    call Screen.drawRectangle 4
    pop temp 0
    push constant 50
    push constant 30
    push constant 58
    push constant 228
    call Screen.drawRectangle 4
    pop temp 0
    push constant 454
    push constant 30
    push constant 462
    push constant 228
    call Screen.drawRectangle 4
    pop temp 0
    push constant 256
    push constant 100
    push constant 40
    call Screen.drawCircle 3
    pop temp 0
    push constant 235
    push constant 85
    push constant 245
    push constant 95
    call Screen.drawLine 4
    pop temp 0
    push constant 245
    push constant 85
    push constant 235
    push constant 95
    call Screen.drawLine 4
    pop temp 0
    push constant 267
    push constant 85
    push constant 277
    push constant 95
    call Screen.drawLine 4
    pop temp 0
    push constant 277
    push constant 85
    push constant 267
    push constant 95
    call Screen.drawLine 4
    pop temp 0
    push constant 236
    push constant 125
    push constant 246
    push constant 115
    call Screen.drawLine 4
    pop temp 0
    push constant 246
    push constant 115
    push constant 266
    push constant 115
    call Screen.drawLine 4
    pop temp 0
    push constant 266
    push constant 115
    push constant 276
    push constant 125
    call Screen.drawLine 4
    pop temp 0
    push constant 235
    push constant 105
    push constant 3
    call Screen.drawCircle 3
    pop temp 0
    push constant 277
    push constant 105
    push constant 3
    call Screen.drawCircle 3
    pop temp 0
    push constant 80
    push constant 60
    push constant 15
    call Screen.drawCircle 3
    pop temp 0
    push constant 95
    push constant 55
    push constant 12
    call Screen.drawCircle 3
    pop temp 0
    push constant 110
    push constant 60
    push constant 15
    call Screen.drawCircle 3
    pop temp 0
    push constant 400
    push constant 60
    push constant 15
    call Screen.drawCircle 3
    pop temp 0
    push constant 415
    push constant 55
    push constant 12
    call Screen.drawCircle 3
    pop temp 0
    push constant 430
    push constant 60
    push constant 15
    call Screen.drawCircle 3
    pop temp 0
    push constant 75
    push constant 80
    push constant 75
    push constant 95
    call Screen.drawLine 4
    pop temp 0
    push constant 90
    push constant 75
    push constant 90
    push constant 90
    call Screen.drawLine 4
    pop temp 0
    push constant 105
    push constant 80
    push constant 105
    push constant 95
    call Screen.drawLine 4
    pop temp 0
    push constant 395
    push constant 80
    push constant 395
    push constant 95
    call Screen.drawLine 4
    pop temp 0
    push constant 410
    push constant 75
    push constant 410
    push constant 90
    call Screen.drawLine 4
    pop temp 0
    push constant 425
    push constant 80
    push constant 425
    push constant 95
    call Screen.drawLine 4
    pop temp 0
    push constant 10
    push constant 15
    call Output.moveCursor 2
    pop temp 0
    push constant 28
    call String.new 1
    push constant 43
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 43
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 11
    push constant 15
    call Output.moveCursor 2
    pop temp 0
    push constant 28
    call String.new 1
    push constant 124
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 84
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 65
    call String.appendChar 2
    push constant 84
    call String.appendChar 2
    push constant 82
    call String.appendChar 2
    push constant 65
    call String.appendChar 2
    push constant 80
    call String.appendChar 2
    push constant 65
    call String.appendChar 2
    push constant 82
    call String.appendChar 2
    push constant 79
    call String.appendChar 2
    push constant 78
    call String.appendChar 2
    push constant 46
    call String.appendChar 2
    push constant 46
    call String.appendChar 2
    push constant 46
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 88
    call String.appendChar 2
    push constant 95
    call String.appendChar 2
    push constant 88
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 124
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 12
    push constant 15
    call Output.moveCursor 2
    pop temp 0
    push constant 28
    call String.new 1
    push constant 43
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 43
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 15
    push constant 18
    call Output.moveCursor 2
    pop temp 0
    push constant 31
    call String.new 1
    push constant 78
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 44
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 118
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 33
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
label Juego_30
    push constant 18
    push constant 18
    call Output.moveCursor 2
    pop temp 0
    push constant 25
    call String.new 1
    push constant 80
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 78
    call String.appendChar 2
    push constant 84
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 82
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 112
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 82
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 121
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    call Teclado.esperarEnter 0
    pop temp 0
    push constant 0
    return
function Juego.dispose 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return