function Mapa.new 3
    push constant 5
    call Memory.alloc 1
    pop pointer 0
    push constant 8
    pop this 1
    push constant 16
    pop this 2
    push constant 7
    pop this 3
    push constant 15
    pop this 4
    push constant 7
    pop this 3
    push constant 15
    pop this 4
    push this 1
    call Array.new 1
    pop this 0
    push constant 0
    pop local 0
label Mapa_0
    push local 0
    push this 1
    lt
    not
    if-goto Mapa_1
    push local 0
    push this 0
    add
    push this 2
    call Array.new 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 0
    push constant 1
    add
    pop local 0
    goto Mapa_0
label Mapa_1
    push constant 0
    pop local 0
label Mapa_2
    push local 0
    push this 1
    lt
    not
    if-goto Mapa_3
    push local 0
    push this 0
    add
    pop pointer 1
    push that 0
    pop local 2
    push constant 0
    pop local 1
label Mapa_4
    push local 1
    push this 2
    lt
    not
    if-goto Mapa_5
    push local 1
    push local 2
    add
    push constant 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 1
    push constant 1
    add
    pop local 1
    goto Mapa_4
label Mapa_5
    push local 0
    push constant 1
    add
    pop local 0
    goto Mapa_2
label Mapa_3
    push constant 0
    push this 0
    add
    pop pointer 1
    push that 0
    pop local 2
    push constant 0
    pop local 1
label Mapa_6
    push local 1
    push constant 16
    lt
    not
    if-goto Mapa_7
    push local 1
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 1
    push constant 1
    add
    pop local 1
    goto Mapa_6
label Mapa_7
    push constant 1
    push this 0
    add
    pop pointer 1
    push that 0
    pop local 2
    push constant 0
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 4
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 10
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 15
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 2
    push this 0
    add
    pop pointer 1
    push that 0
    pop local 2
    push constant 0
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 2
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 4
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 6
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 7
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 8
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 10
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 12
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 13
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 15
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 3
    push this 0
    add
    pop pointer 1
    push that 0
    pop local 2
    push constant 0
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 2
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 12
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 13
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 15
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 4
    push this 0
    add
    pop pointer 1
    push that 0
    pop local 2
    push constant 0
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 2
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 3
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 4
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 6
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 7
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 8
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 9
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 10
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 12
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 13
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 15
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 5
    push this 0
    add
    pop pointer 1
    push that 0
    pop local 2
    push constant 0
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 4
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 6
    push local 2
    add
    push constant 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 10
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 15
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 6
    push this 0
    add
    pop pointer 1
    push that 0
    pop local 2
    push constant 0
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 6
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 12
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 7
    push this 0
    add
    pop pointer 1
    push that 0
    pop local 2
    push constant 0
    pop local 1
label Mapa_8
    push local 1
    push constant 16
    lt
    not
    if-goto Mapa_9
    push local 1
    push this 4
    eq
    not
    not
    if-goto Mapa_11
    push local 1
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    goto Mapa_10
label Mapa_11
label Mapa_10
    push local 1
    push constant 1
    add
    pop local 1
    goto Mapa_8
label Mapa_9
    call Screen.clearScreen 0
    pop temp 0
    push pointer 0
    call Mapa.dibujar 1
    pop temp 0
    push pointer 0
    return
function Mapa.dibujar 3
    push argument 0
    pop pointer 0
    push constant 0
    pop local 0
label Mapa_12
    push local 0
    push this 1
    lt
    not
    if-goto Mapa_13
    push local 0
    push this 0
    add
    pop pointer 1
    push that 0
    pop local 2
    push constant 0
    pop local 1
label Mapa_14
    push local 1
    push this 2
    lt
    not
    if-goto Mapa_15
    push local 1
    push local 2
    add
    pop pointer 1
    push that 0
    push constant 1
    eq
    not
    if-goto Mapa_17
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push local 1
    push constant 32
    call Math.multiply 2
    push local 0
    push constant 32
    call Math.multiply 2
    push local 1
    push constant 32
    call Math.multiply 2
    push constant 31
    add
    push local 0
    push constant 32
    call Math.multiply 2
    push constant 31
    add
    call Screen.drawRectangle 4
    pop temp 0
    goto Mapa_16
label Mapa_17
label Mapa_16
    push local 1
    push constant 1
    add
    pop local 1
    goto Mapa_14
label Mapa_15
    push local 0
    push constant 1
    add
    pop local 0
    goto Mapa_12
label Mapa_13
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push constant 15
    push constant 32
    call Math.multiply 2
    push constant 10
    add
    push constant 7
    push constant 32
    call Math.multiply 2
    push constant 10
    add
    push constant 15
    push constant 32
    call Math.multiply 2
    push constant 21
    add
    push constant 7
    push constant 32
    call Math.multiply 2
    push constant 21
    add
    call Screen.drawRectangle 4
    pop temp 0
    push constant 0
    return
function Mapa.dibujarBloquePared 0
    push argument 0
    pop pointer 0
    push argument 1
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 32
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 64
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 96
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 128
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 160
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 192
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 224
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 256
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 288
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 320
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 352
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 384
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 416
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 448
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push argument 1
    push constant 480
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Mapa.esPared 1
    push argument 0
    pop pointer 0
    push argument 1
    push constant 1
    neg
    gt
    push argument 1
    push this 1
    lt
    and
    push argument 2
    push constant 1
    neg
    gt
    and
    push argument 2
    push this 2
    lt
    and
    not
    if-goto Mapa_19
    push argument 1
    push this 0
    add
    pop pointer 1
    push that 0
    pop local 0
    push argument 2
    push local 0
    add
    pop pointer 1
    push that 0
    return
    goto Mapa_18
label Mapa_19
label Mapa_18
    push constant 1
    return
function Mapa.esEscape 0
    push argument 0
    pop pointer 0
    push argument 1
    push this 3
    eq
    push argument 2
    push this 4
    eq
    and
    not
    if-goto Mapa_21
    push constant 1
    neg
    return
    goto Mapa_20
label Mapa_21
label Mapa_20
    push constant 0
    return
function Mapa.getFilas 0
    push argument 0
    pop pointer 0
    push this 1
    return
function Mapa.getColumnas 0
    push argument 0
    pop pointer 0
    push this 2
    return
function Mapa.dispose 2
    push argument 0
    pop pointer 0
    push constant 0
    pop local 0
label Mapa_22
    push local 0
    push this 1
    lt
    not
    if-goto Mapa_23
    push local 0
    push this 0
    add
    pop pointer 1
    push that 0
    pop local 1
    push local 1
    call Array.dispose 1
    pop temp 0
    push local 0
    push constant 1
    add
    pop local 0
    goto Mapa_22
label Mapa_23
    push this 0
    call Array.dispose 1
    pop temp 0
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return
function Mapa.construirMatrizManual 3
    push argument 0
    pop pointer 0
    push constant 0
    pop local 0
label Mapa_24
    push local 0
    push this 1
    lt
    not
    if-goto Mapa_25
    push local 0
    push this 0
    add
    pop pointer 1
    push that 0
    pop local 2
    push constant 0
    pop local 1
label Mapa_26
    push local 1
    push this 2
    lt
    not
    if-goto Mapa_27
    push local 1
    push local 2
    add
    push constant 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 1
    push constant 1
    add
    pop local 1
    goto Mapa_26
label Mapa_27
    push local 0
    push constant 1
    add
    pop local 0
    goto Mapa_24
label Mapa_25
    push constant 0
    push this 0
    add
    pop pointer 1
    push that 0
    pop local 2
    push constant 0
    pop local 1
label Mapa_28
    push local 1
    push constant 16
    lt
    not
    if-goto Mapa_29
    push local 1
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 1
    push constant 1
    add
    pop local 1
    goto Mapa_28
label Mapa_29
    push constant 1
    push this 0
    add
    pop pointer 1
    push that 0
    pop local 2
    push constant 0
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 4
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 10
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 15
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 2
    push this 0
    add
    pop pointer 1
    push that 0
    pop local 2
    push constant 0
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 2
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 3
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 4
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 6
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 7
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 8
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 10
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 15
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 3
    push this 0
    add
    pop pointer 1
    push that 0
    pop local 2
    push constant 0
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 2
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 10
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 12
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 13
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 15
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 4
    push this 0
    add
    pop pointer 1
    push that 0
    pop local 2
    push constant 0
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 2
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 4
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 5
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 6
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 8
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 10
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 15
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 5
    push this 0
    add
    pop pointer 1
    push that 0
    pop local 2
    push constant 0
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 4
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 15
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 6
    push this 0
    add
    pop pointer 1
    push that 0
    pop local 2
    push constant 0
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 2
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 3
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 4
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 5
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 6
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 8
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 10
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 11
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 12
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 13
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 15
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 7
    push this 0
    add
    pop pointer 1
    push that 0
    pop local 2
    push constant 0
    pop local 1
label Mapa_30
    push local 1
    push constant 16
    lt
    not
    if-goto Mapa_31
    push local 1
    push this 4
    eq
    not
    not
    if-goto Mapa_33
    push local 1
    push local 2
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    goto Mapa_32
label Mapa_33
label Mapa_32
    push local 1
    push constant 1
    add
    pop local 1
    goto Mapa_30
label Mapa_31
    push constant 0
    return