function Teclado.leerDireccion 0
    push argument 0
    push constant 131
    eq
    push argument 0
    push constant 87
    eq
    or
    push argument 0
    push constant 119
    eq
    or
    not
    if-goto Teclado_1
    push constant 1
    return
    goto Teclado_0
label Teclado_1
label Teclado_0
    push argument 0
    push constant 133
    eq
    push argument 0
    push constant 83
    eq
    or
    push argument 0
    push constant 115
    eq
    or
    not
    if-goto Teclado_3
    push constant 2
    return
    goto Teclado_2
label Teclado_3
label Teclado_2
    push argument 0
    push constant 130
    eq
    push argument 0
    push constant 65
    eq
    or
    push argument 0
    push constant 97
    eq
    or
    not
    if-goto Teclado_5
    push constant 3
    return
    goto Teclado_4
label Teclado_5
label Teclado_4
    push argument 0
    push constant 132
    eq
    push argument 0
    push constant 68
    eq
    or
    push argument 0
    push constant 100
    eq
    or
    not
    if-goto Teclado_7
    push constant 4
    return
    goto Teclado_6
label Teclado_7
label Teclado_6
    push constant 0
    return
function Teclado.leerOpcion 0
    push argument 0
    push constant 49
    eq
    not
    if-goto Teclado_9
    push constant 1
    return
    goto Teclado_8
label Teclado_9
label Teclado_8
    push argument 0
    push constant 50
    eq
    not
    if-goto Teclado_11
    push constant 2
    return
    goto Teclado_10
label Teclado_11
label Teclado_10
    push argument 0
    push constant 51
    eq
    not
    if-goto Teclado_13
    push constant 3
    return
    goto Teclado_12
label Teclado_13
label Teclado_12
    push argument 0
    push constant 52
    eq
    not
    if-goto Teclado_15
    push constant 4
    return
    goto Teclado_14
label Teclado_15
label Teclado_14
    push argument 0
    push constant 53
    eq
    not
    if-goto Teclado_17
    push constant 5
    return
    goto Teclado_16
label Teclado_17
label Teclado_16
    push constant 0
    return
function Teclado.leerOpcionForma 0
    push argument 0
    push constant 49
    eq
    not
    if-goto Teclado_19
    push constant 1
    return
    goto Teclado_18
label Teclado_19
label Teclado_18
    push argument 0
    push constant 50
    eq
    not
    if-goto Teclado_21
    push constant 2
    return
    goto Teclado_20
label Teclado_21
label Teclado_20
    push argument 0
    push constant 51
    eq
    not
    if-goto Teclado_23
    push constant 3
    return
    goto Teclado_22
label Teclado_23
label Teclado_22
    push constant 0
    return
function Teclado.esperarTecla 0
label Teclado_24
    call Keyboard.keyPressed 0
    push constant 0
    eq
    not
    not
    if-goto Teclado_25
    goto Teclado_24
label Teclado_25
    push constant 0
    return
function Teclado.esperarEnter 0
label Teclado_26
    call Keyboard.keyPressed 0
    push constant 128
    eq
    not
    not
    if-goto Teclado_27
    goto Teclado_26
label Teclado_27
label Teclado_28
    call Keyboard.keyPressed 0
    push constant 0
    eq
    not
    not
    if-goto Teclado_29
    goto Teclado_28
label Teclado_29
    push constant 0
    return
function Teclado.obtenerSemillaConEnter 1
    push constant 0
    pop local 0
label Teclado_30
    call Keyboard.keyPressed 0
    push constant 128
    eq
    not
    not
    if-goto Teclado_31
    push local 0
    push constant 1
    add
    pop local 0
    push local 0
    push constant 32000
    gt
    not
    if-goto Teclado_33
    push constant 1
    pop local 0
    goto Teclado_32
label Teclado_33
label Teclado_32
    goto Teclado_30
label Teclado_31
label Teclado_34
    call Keyboard.keyPressed 0
    push constant 0
    eq
    not
    not
    if-goto Teclado_35
    goto Teclado_34
label Teclado_35
    push local 0
    return