function Validador.limitePartidas 0
    push argument 0
    push constant 2
    gt
    return
function Validador.verificarColision 0
    push argument 1
    call Enemigo.getPosX 1
    push argument 0
    call Jugador.obtenerPosX 1
    eq
    push argument 1
    call Enemigo.getPosY 1
    push argument 0
    call Jugador.obtenerPosY 1
    eq
    and
    not
    if-goto Validador_1
    push constant 1
    neg
    return
    goto Validador_0
label Validador_1
label Validador_0
    push constant 0
    return
function Validador.verificarVictoria 0
    push argument 0
    call Jugador.obtenerPosX 1
    push constant 15
    eq
    push argument 0
    call Jugador.obtenerPosY 1
    push constant 7
    eq
    and
    not
    if-goto Validador_3
    push constant 1
    neg
    return
    goto Validador_2
label Validador_3
label Validador_2
    push constant 0
    return